h1{
    text-decoration: underline;
    color: purple;
}

.box {
    color: white;
    font-weight: bold;
    border: 1px solid black;
    height: 50px;
    width: 150px;
    margin: 10px;
    padding: 10px;
}

#red {
    background-color: red;

}

#orange {
    background-color: orange;
    margin-left: 30px;
}

#yellow {
    background-color: rgb(252, 238, 85);
    margin-left: 60px
}

#green {
    background-color: green;
    margin-left: 90px;
 }

#blue {
    background-color: blue;
    margin-left: 120px;
}

#violet {
    background-color: violet;
    margin-left: 150px;
}
