.container {
    margin: auto;
    width: 90%;
    font-family: sans-serif;

}

.row {
    width: 100%;
    /*margin-bottom: 20px;*/
    /*margin-top: 10px;*/

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

.one-half {
    /*background-color: lightseagreen;*/
    width: 50%;
}

.two-thirds {
    width: 66.66%;
}

.one-third {
    /*background-color: darkcyan;*/
    width: 33.33%;
}

.one-fourth {
    /*background-color: chartreuse;*/
    width: 25%;
}

.one-sixth {
    /*background-color: forestgreen;*/
    width: 16.66%;

}

.one-eighth {
    /*background-color: olive;*/
    width: 12.5%;
}

@media screen and (max-width: 360px) {
    .container {
        width: 100%;
    }

    .column.one-half, .column.one-third,
    .column.one-fourth, .column.one-sixth,
    .column.one-eighth .column.two-thirds {
        width: 100%;
    }

}